{% for p in mothers.all %}
	
{% empty %}
	{% for p in fathers.all %}
	{% empty %}
		{% for p in children.all %}
			{% empty %}
				{% for p in home.all %}
					{% empty %}
						<h3> You've no ba7s 7ala data </h3>
						{% endfor %}
						{% endfor %}
						{% endfor %}
						{% endfor %}



{% for p in mothers.all %}

	<a href="{% url 'mother-details' p.pk %}"><h2>{{p.name}}</h2></a><br>
	Type: Mother

{% empty %}

{% endfor %}


{% for p in fathers.all %}

	<a href="{% url 'father-details' p.pk %}"><h2>{{p.name}}</h2></a><br>

	Type: Father

{% empty %}

{% endfor %}


{% for p in children.all %}

	<a href="{% url 'children-details' p.pk %}"><h2>{{p.name}}</h2></a><br>

	Type: Child

{% empty %}

{% endfor %}


{% for p in home.all %}

	<a href="{% url 'home-details' p.pk %}"><h2>{{p.address}}</h2></a><br>

	Type: Home

{% empty %}

{% endfor %}

