
{% load staticfiles %}

{% if not user.is_authenticated %}
    <META http-equiv="refresh" content="0;URL= {% url 'signin-user' %}">
{% endif %}

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>


	<meta charset="UTF-8" />
	<title>BCORE Admin Dashboard Template | Blank Page</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
	<!-- GLOBAL STYLES -->
	<!-- GLOBAL STYLES -->
	<link rel="stylesheet"
		href='{% static "plugins/bootstrap/css/bootstrap.css" %}' />
	<link rel="stylesheet" href='{% static "css/main.css" %}' />
	<link rel="stylesheet" href='{% static "css/theme.css" %}'/>
	<link rel="stylesheet" href='{% static "css/MoneAdmin.css" %}' />
	<link rel="stylesheet"
		href='{% static "plugins/Font-Awesome/css/font-awesome.css" %}' />
	<!--END GLOBAL STYLES -->

	<!-- PAGE LEVEL STYLES -->
	<!-- END PAGE LEVEL  STYLES -->
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


</h:head>
    <!-- BEGIN BODY -->
<body class="padTop53 " >

    <!-- MAIN WRAPPER -->
    <div id="wrap" >
        

        <!-- HEADER SECTION -->
        <div id="top">

            <nav class="navbar navbar-inverse navbar-fixed-top " style="padding-top: 10px;">
                <a data-original-title="Show/Hide Menu" data-placement="bottom" data-tooltip="tooltip" class="accordion-toggle btn btn-primary btn-sm visible-xs" data-toggle="collapse" href="#menu" id="menu-toggle">
                    <i class="icon-align-justify"></i>
                </a>
                <!-- LOGO SECTION -->
                <header class="navbar-header">

                    <a href="#" class="navbar-brand">
                       <img src="{% static 'img/newLogo.png' %}" alt="" />
                        
                    </a>
                </header>
                <!-- END LOGO SECTION -->
                <ul class="nav navbar-top-links navbar-right">

                    

                    <!--ALERTS SECTION -->
                    <li class="chat-panel dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="label label-info">8</span>   <i class="icon-comments"></i>&nbsp; <i class="icon-chevron-down"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-alerts">

                            <li>
                                <a href="#">
                                    <div>
                                        <i class="icon-comment" ></i> New Comment
                                    <span class="pull-right text-muted small"> 4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="icon-twitter info"></i> 3 New Follower
                                    <span class="pull-right text-muted small"> 9 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="icon-envelope"></i> Message Sent
                                    <span class="pull-right text-muted small" > 20 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="icon-tasks"></i> New Task
                                    <span class="pull-right text-muted small"> 1 Hour ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="icon-upload"></i> Server Rebooted
                                    <span class="pull-right text-muted small"> 2 Hour ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a class="text-center" href="#">
                                    <strong>See All Alerts</strong>
                                    <i class="icon-angle-right"></i>
                                </a>
                            </li>
                        </ul>

                    </li>
                    <!-- END ALERTS SECTION -->

                    <!--ADMIN SETTINGS SECTIONS -->

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-user "></i>&nbsp; <i class="icon-chevron-down "></i>
                        </a>

                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#"><i class="icon-user"></i> User Profile </a>
                            </li>
                            <li><a href="#"><i class="icon-gear"></i> Settings </a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="{% url 'signout-user' %}"><i class="icon-signout"></i> Logout </a>
                            </li>
                        </ul>

                    </li>
                    <!--END ADMIN SETTINGS -->
                </ul>

            </nav>

        </div>
        <!-- END HEADER SECTION -->


    <!-- MENU SECTION -->
        <div id="left">

            <ul id="menu" class="collapse">


                <li><a href="{% url 'template' %}"><i class="icon-columns"></i> Home </a></li>
                <li class="panel "><a href="#" data-parent="#menu"
                    data-toggle="collapse" class="accordion-toggle"
                    data-target="#component-nav"> <i class="icon-tasks"> </i> Core
                        Committees <span class="pull-right"> <i
                            class="icon-angle-left"></i>
                    </span> &nbsp; <span class="label label-default-orange">5</span>&nbsp;
                </a>
                    <ul class="collapse" id="component-nav">

                        <li class=""><a href="{% url 'databasing-committee' %}"><i
                                class="icon-angle-right"></i> Data Basing </a></li>
                        <li class=""><a href="{% url 'education-committee' %}"><i
                                class="icon-angle-right"></i> Education </a></li>
                        <li class=""><a href="{% url 'healthCare-committee' %}"><i
                                class="icon-angle-right"></i> Health Care </a></li>
                        <li class=""><a href="{% url 'economicEmp-committee' %}"><i
                                class="icon-angle-right"></i> Economic Empowerment </a></li>
                        <li class=""><a href="{% url 'relief-committee' %}"><i
                                class="icon-angle-right"></i> Relief </a></li>
                    </ul></li>
                <li class="panel "><a href="#" data-parent="#menu"
                    data-toggle="collapse" class="accordion-toggle collapsed"
                    data-target="#form-nav"> <i class="icon-tasks"></i> Support
                        Committees <span class="pull-right"> <i
                            class="icon-angle-left"></i>
                    </span> &nbsp; <span class="label label-default-green">5</span>&nbsp;
                </a>
                    <ul class="collapse" id="form-nav">
                        <li class=""><a href="{% url 'publicRelation-committee' %}"><i
                                class="icon-angle-right"></i> Public Relations </a></li>
                        <li class=""><a href="{% url 'fundRaising-committee' %}"><i
                                class="icon-angle-right"></i> Fund Raising </a></li>
                        <li class=""><a href="{% url 'media-committee' %}"><i
                                class="icon-angle-right"></i> Media and Marketing </a></li>
                        <li class=""><a href="{% url 'humanResources-committee' %}"><i
                                class="icon-angle-right"></i> Human Resources </a></li>
                        <li class=""><a href="{% url 'financial' %}"><i
                                class="icon-angle-right"></i> Financial Coordination </a></li>
                    </ul></li>

                <li class="panel"><a href="#" data-parent="#menu"
                    data-toggle="collapse" class="accordion-toggle"
                    data-target="#pagesr-nav"> <i class="icon-table"></i> DataBase <span
                        class="pull-right"> <i class="icon-angle-left"></i>
                    </span> &nbsp; <span class="label label-default-red">6</span>&nbsp;
                </a>
                    <ul class="collapse" id="pagesr-nav">
                    <li class=""><a href="{% url 'family-list'  %}"><i
                                class="icon-angle-right"></i> Families </a></li>
                    <li class=""><a href="{% url 'list-father'  %}"><i
                                class="icon-angle-right"></i> Fathers </a></li>
                     <li class=""><a href="{% url 'list-mother'  %}"><i
                                class="icon-angle-right"></i> Mothers </a></li>
                     <li class=""><a href="{% url 'list-children'  %}"><i
                                class="icon-angle-right"></i> Children </a></li>
                     <li class=""><a href="{% url 'list-home'  %}"><i
                                class="icon-angle-right"></i> Homes </a></li>
                     <li class=""><a href="{% url 'list-installment'  %}"><i
                                class="icon-angle-right"></i> Installments </a></li>


                    
                    </ul></li>

                <li><a href="{% url 'pages-uc' %}"><i class="icon-map-marker"></i>
                        Maps </a></li>

                 <li><a href="{% url 'calender' %}"><i
                                class="icon-bar-chart" ></i> Calendar </a></li>      
                  <li><a href="{% url 'gallery' %}"><i class="icon-film"></i> Image Gallery </a></li>                    


                <li class="panel"><a href="#" data-parent="#menu"
                    data-toggle="collapse" class="accordion-toggle"
                    data-target="#blank-nav"> <i class="icon-check-empty"></i>
                        Blank Pages <span class="pull-right"> <i
                            class="icon-angle-left"></i>
                    </span> &nbsp; <span class="label label-default-blue">2</span>&nbsp;
                </a>
                    <ul class="in" id="blank-nav">

                        <li><a href="blank.xhtml"><i class="icon-angle-right"></i>
                                Blank Page One </a></li>
                        <li><a href="blank2.xhtml"><i class="icon-angle-right"></i>
                                Blank Page Two </a></li>
                    </ul></li>
                <li><a href="{% url 'signout-user' %}"><i class="icon-signin"></i> Login
                        Page </a></li>

            </ul>

        </div>
      
        <!--END MENU SECTION -->

        {% block everything %}
        <!--PAGE CONTENT -->
        <div id="content">
             
            <div class="inner" style="min-height: 700px;">
                <div class="row">
                    <div class="col-lg-12">
                        {% block title %}
                        <h1> NEBNY </h1>
                        {% endblock %}
                    </div>
                </div>
                  <hr />
                  {% block blocks %}
                  <!-- BLOCK SECTION -->
                 <div class="row">
                    <div class="col-lg-12">
                        <div style="text-align: center;">
                            
                                <a class="quick-btn" href="#">
                                <i class="icon-check icon-2x"></i>
                                <span> Achievements</span>
                                <span class="label label-default-green">0</span>
                              </a>

                            <a class="quick-btn" href="#">
                                <i class="icon-external-link icon-2x"></i>
                                <span>Values</span>
                                <span class="label label-default-red">14</span>
                            </a>

                            <a class="quick-btn" href="#">
                                <i class="icon-signal icon-2x"></i>
                                <span>Products</span>
                                <span class="label label-default-blue">0</span>
                            </a>

                            <a class="quick-btn" href="#">
                                <i class="icon-bolt icon-2x"></i>
                                <span>Goals</span>
                                <span class="label label-default">20</span>
                            </a>


                           
             
                        </div>

                    </div>

                </div>
                  <!--END BLOCK SECTION -->
                <hr />
                 {% endblock %}

                 <!--INFO SECTION -->
                 <div class="row">
                    <div class="col-lg-12">
                        <div style="text-align: center;">
                            {% block information %}
                                <h1>Abstract nebny Information</h1>
                            {% endblock %}
             
                        </div>

                    </div>

                </div>
                  <!--END INFO SECTION -->
                <hr />
                       
                    </div>

                </div>
                 <!--TABLE, PANEL, ACCORDION AND MODAL  -->

                
            </div>

        </div>
        <!--END PAGE CONTENT -->

    </div>

    <!--END MAIN WRAPPER -->

    <!-- FOOTER -->
    <div id="footer">
        <p>&copy;  binarytheme &nbsp;2014 &nbsp;</p>
    </div>
    <!--END FOOTER -->
	<!--END FOOTER -->
	<!-- GLOBAL SCRIPTS -->
	
	<script src='{% static "plugins/jquery-2.0.3.min.js" %}'></script>
	<script src='{% static "plugins/bootstrap/js/bootstrap.min.js" %}'></script>
	<script src='{% static "plugins/modernizr-2.6.2-respond-1.1.0.min.js" %}'></script>
	<!-- END GLOBAL SCRIPTS -->
    {% endblock %}
</h:body>
</html>