
{% extends 'template.html' %}
{% load staticfiles %}


{% block title %}
	<h1><font color="red"> <p  color='red' align="center">Family List</p></font>
	{% endblock %}

{% block blocks %}

{% endblock %}


{% block information %}

<table style="width:50%" align="center" >

  <tr>
 

<td><h3><font color='blue'>Family</td>

   <td><h3><font color='blue'>ID</td>
  
  </tr>

  <tr>
 <td> {% for p in object_list %}
 <a href="{% url 'family-details' p.pk %}"><h3>{{p.father.name}} </h2></a><br>
 

{% endfor %}</td>
<td>{% for p in object_list %}
 <a href="{% url 'family-details' p.pk %}"><h3>{{p.id}} </h2></a><br>
 

{% endfor %}</td>

  
	 

  </tr>
  </table><br>
	



{% endblock %}



