
<h1> :بيانات الام</h1>


<h3>الاسم<br>
{{object.name}}<br>
تاريخ الميلاد<br>
{{object.birthdate}}<br>
السن<br>
{{object.age}}<br>
المستوى التعليمى<br>
{{object.education_level}}<br>
هل هو عائل؟<br>
{{object.is_3a2el}}<br>
العمل<br>
{{object.job}}<br>
 دائم ام متقطع <br>
{{object.job_status}}<br>
الحالة الاجتماعية <br>
{{object.marital_status}}<br>
الرقم القومى<br>
{{object.national_id}}<br>
الموبايل<br>
{{object.mobile}}<br>
المرتب<br>
{{object.salary}}<br>
حالة المرتب<br>
{{object.work_status}}<br>

مريض؟<br>
{{object.is_sick}}<br>
المرض<br>
{{object.disease}}<br>
العلاج<br>
{{object.medecine}}<br>
تكلفة العلاج  <br>
{{object.health_care_expenses}}<br>
 جهة الانفاق على العلاج<br>
{{object.health_care_paid_by}}<br>
هل يريد ان يتم الكشف عليه؟<br>
{{object.want_kashf}}<br>
اطراف صناعيية<br>
{{object.is_atraf_sena3eya}}<br>
غسيل كلوي<br>
{{object.is_3aseel_kalawy}}<br>
عملية جراحية<br>
{{object.is_surgery_needed}}<br>
ذوي الإحتياجات الخاصة؟<br>
{{object.is_special_needs}}<br>
هل لدى الحالة الرغبة في إنشاء مشروع؟<br>
{{object.want_project}}<br>
فكرة المشروع <br>
{{object.project_idea}}<br>
 تكلفة التشغيل<br>
{{object.project_cost}}<br>
الربح الشهرى<br>
{{object.project_profit}}<br>
ملاحظات اخرى<br>

{{object.project_notes}}<br>
Case was sent to :<br>
HealthCare?<br>
{{object.health_care_needed}}<br>
Education?<br>
{{object.education_needed}}<br>
Economic Development?<br>
{{object.economic_development_needed}}<br>
Relif?<br>
{{object.relif_needed}}<br>


<a href="{% url 'family-details' family.pk %}"> بيانات اسرة الام</a><br><br>
<a href="{% url 'update-mother' object.pk %}">تغيير بيانات الام </a><br><br>
