 {% extends 'template.html' %}
{% load staticfiles %}

  {% block title%}
  
    
  {% endblock %}
  {% block blocks %}
  {% endblock %}

  {% block information %}
<br><Br><Br>

<h1><font color="red"> <p  color='red' align="centre">بيانات الطفل</p></font></h1>
<object action="" method="post" role="object" enctype="multipart/object-data">{% csrf_token %}


  <table style="width:100%" color=''class="table table-striped table-bordered table-hover">

  <tr>
  <td><h3><font color='blue'>دروس تقوية</td>
     <td><h3><font color='blue'>التكلفة المالية للدروس</td>
     <td><h3> <font color='blue'>هيئة الدروس</td>
     <td><h3><font color='blue'>عدد المواد التى يأخد فيها دروس</td>
      <td><h3><font color='blue'> اسم المدرسة</td>
        <td><h3><font color='blue'>السنة الدراسية</td>
     <td><h3><font color='blue'>تاريخ الميلاد</td> 
     <td><h3><font color='blue'>الاسم</td>
     </font></h3>

  </tr>
  <tr>
 <td> {{object.doros_needed}}</td>
  <td>{{object.doros_expenses}}</td>
  <td>{{object.doros_type}}</td>
<td>{{object.doros_number}}</td>


<td>{{object.school_name}}</td>
  <td>{{object.education_level}}</td>
    
  <td>{{object.birthdate}}</td>
<td>{{object.name}}</td>
  </tr>
</table><br>


  
<table style="width:100%" class="table table-striped table-bordered table-hover">
  <tr>

  <td><h3><font color='blue'>تكلفة العلاج</td>
  <td><h3><font color='blue'>العلاج</td>
  <td><h3><font color='blue'>المرض</td>    
   <td><h3><font color='blue'>مريض؟</td> 
     <td><h3><font color='blue'>قيمة الدخل</td>


    <td><h3><font color='blue'>نوع العمل</td>

  <td><h3><font color='blue'>هل يعمل؟</td>
  <td><h3><font color='blue'>إذا كان خريج، إكتب المؤهل</td>    
   <td><h3><font color='blue'>خريج</td> </h3>
  


  </tr>
  <tr>
>
    
 <td>{{object.health_care_expenses}}</td>

  <td>{{object.medecine}}</td>

<td>{{object.disease}}</td>
{% if object.is_sick == True %}
  <td>نعم</td>
  {% else %}
  <td>لا</td>
  {% endif %}



 <td>{{object.salary}} {{object.per}}</td>

  <td>{{object.work}}</td>
 <td>{{object.is_worker}}</td>

  <td>{{object.gradutae_degree}}</td>

{% if object.is_graduate == True %}
  <td>نعم</td>
  {% else %}
  <td>لا</td>
  {% endif %}




  </tr>
  </table><br><br>

    <table style="width:100%" class="table table-striped table-bordered table-hover">

  <tr>
  



<td><h3><font color='blue'>ذوي الإحتياجات الخاصة؟</td>
  <td><h3><font color='blue'>عملية جراحية</td>

  <td><h3><font color='blue'>غسيل كلوي </td>

  <td><h3><font color='blue'>اطراف صناعية</td>

  <td><h3><font color='blue'>هل يريد ان يتم الكشف عليه؟</td>

  <td><h3><font color='blue'> جهة الانفاق على العلاج</td>
  </tr>
<tr>
</h3>
{% if object.is_special_needs == True %}
  <td>نعم</td>
  {% else %}
  <td>لا</td>
  {% endif %}
{% if object.is_surgery_needed == True %}
  <td>نعم</td>
  {% else %}
  <td>لا</td>
  {% endif %}
{% if object.is_3aseel_kalawy == True %}
  <td>نعم</td>
  {% else %}
  <td>لا</td>
  {% endif %}

{% if object.is_atraf_sena3eya == True %}
  <td>نعم</td>
  {% else %}
  <td>لا</td>
  {% endif %}

{% if object.want_kashf == True %}
  <td>نعم</td>
  {% else %}
  <td>لا</td>
  {% endif %}
  {% if object.health_care_paid_by == '1' %}
  <td>علي نفقته</td>
  {% endif %}
  {% if object.health_care_paid_by == '2' %}
  <td>التأمين الصحي</td>
  {% endif %}
  {% if object.health_care_paid_by == '3' %}
  <td>متبرع</td>
  {% endif %}
  {% if object.health_care_paid_by == '4'%}
  <td>نفقة الدول</td>
  {% endif %}

  </tr>
</table><br>
  
<br><br>
<h3><font color='blue'> Case Sent To:</font>


{% if object.health_care_needed == True %}<br><br>
HealthCare
{% endif %}
Education

{% if object.education_needed == True %}<br><br>
Education
{% endif %}

{% if object.economic_development_needed == True %}<br><br>
Economic Development
{% endif %}

  





{% if member.committie.name == 'Databasing' %}

 <h3> <a href="{% url 'family-details' family.pk %}"> بيانات اسرة الطفل</a><br><br>  
{% endif %}

{% if member == family_member %} 
  <h3><a href="{% url 'update-child' object.pk %}">تغيير بيانات الطفل</a><br><br>
{% endif %}




{% endblock %}
  



  
    <script src='{% static "plugins/dataTables/jquery.dataTables.js" %}'></script>
    <script src='{% static "plugins/dataTables/dataTables.bootstrap.js" %}'></script>
    <script>
         $(document).ready(function () {
             $('#dataTables-example').dataTable();
         });
    </script>